
dag {
  enabled = true
  file = 'pipeline_dag.html'
}

report{
  enabled = true
  file = 'pipeline_report.html'
}

timeline{
  enabled = true
  file = 'pipeline_timeline.html'
}

process{
    withName:trim
    {
        cpus = 16
        memory = '32 GB'
    }

    withName:assembly
    {
        cpus = 16
        memory = '32.GB'
    }

    withName:virfinder
    {
        cpus = 2
        memory = '8 GB'
    }

    withName:virsorter
    {
        cpus = 16
        memory = '32 GB'
    }

    withName:merge_in
    {
        cpus = 2
        memory = '8 GB'
    }

    withName:merge_out
    {
        cpus = 2
        memory = '8 GB'
    }

    withName:cdhit
    {
        cpus = 16
        memory = '32 GB'
    }

    withName:prodigal
    {
        cpus = 2
        memory = '8 GB'
    }

    withName:prokka
    {
        cpus = 16
        memory = '32 GB'
    }

    withName:classify_genome
    {
        cpus = 16
        memory = '32 GB'
    }

    withName:classify_demovir
    {
        cpus = 16
        memory = '32 GB'
    }

    withName:classify_pfam
    {
        cpus = 16
        memory = '32 GB'
    }

    withName:classify_protein
    {
        cpus = 16
        memory = '32 GB'
    }

    withName:classify_crAss
    {
        cpus = 16
        memory = '32 GB'
    }

    withName:classify_merge
    {
        cpus = 2
        memory = '8 GB'
    }

    withName:gene_function
    {
        cpus = 16
        memory = '32 GB'
    }

}

