

params.fasta = "/data/db/flow_configure_data/trimmomatic-adapters/TruSeq3-PE.fa"
params.index = "/data/db/flow_configure_data/hg38_2bwt_index"

params.datadir1 = "/data/db/flow_configure_data/classify/refseq_genome/taxdump"
params.datadir2 = "/data/db/flow_configure_data/classify/pfam/Pfam/"
params.datadir3 = "/data/db/flow_configure_data/uniprot/uniref_annotated/uniref90/uniref90_201901"

params.genome_db = "/data/db/flow_configure_data/classify/refseq_genome/refseq_virus_filter.fasta"
params.demovir_db = "/data/db/flow_configure_data/classify/Demovir/uniprot_trembl.viral.udb"
params.pfam_db = "/data/db/flow_configure_data/classify/pfam/virus.pfam"
params.protein_db1 ="/data/db/flow_configure_data/classify/refseq_protein/virus.pep.filter.fasta"
params.protein_db2 ="/data/db/flow_configure_data/classify/refseq_protein/protID2taxid.txt"
params.crAss_db1 = "/data/db/flow_configure_data/classify/crAss-like/crAssphage_polymerase_Terminase/crAssphage_polymerase_Terminase.fa"
params.crAss_db2 = "/data/db/flow_configure_data/classify/crAss-like/NC_024711.1/NC_024711.1.fasta"
params.db1 = "/data/db/flow_configure_data/humann/full_mapping/map_CAZy_uniref90.txt.gz"
params.db2 = "/data/db/flow_configure_data/humann/full_mapping/map_eggnog_uniref90.txt.gz"
params.db3 = "/data/db/flow_configure_data/humann/full_mapping/map_go_uniref90.txt.gz"
params.db4 = "/data/db/flow_configure_data/humann/full_mapping/map_ko_uniref90.txt.gz"
params.db5 = "/data/db/flow_configure_data/humann/full_mapping/map_level4ec_uniref90.txt.gz"
params.db6 = "/data/db/flow_configure_data/humann/full_mapping/map_pfam_uniref90.txt.gz"